@model IEnumerable<SportsPro.Models.Incident>

@{
    ViewData["Title"] = "Incident Management";
}

<h1>@ViewData["Title"]</h1>

<form method="get">
    <div class="form-group">
<label for="filter">Filter Incidents</label>
       <select id="filter" name="filtering">

 <option value="All">All</option>
            <option value="Unassigned">Unassigned</option>
<option value="Opened">Opened</option>
<option value="Resolved">Resolved</option>

       </select>


    </div>
    <input type="submit" class="btn btn-primary" value="Apply" />
</form>

<br/>

<form method="get">
    <div class="form-group">
        <label for="sort">Sort Incidents by:</label>
<select id="sort" name="sorting">
            <option value="Title (A-Z)">Title (A-Z)</option>
<option value="Customer (A-Z)">Customer (A-Z)</option>
<option value="Product (A-Z)">Product (A-Z)</option>
<option value="DateOpened (A-Z)">Date Opened (A-Z)</option>
<option value="DateClosed (A-Z)">Date Closed (A-Z)</option>
<option value="Technician (A-Z)">Technician (A-Z)</option>
<option value="Title (Z-A)">Title (Z-A)</option>
<option value="Customer (Z-A)">Customer (Z-A)</option>
<option value="Product (Z-A)">Product (Z-A)</option>
<option value="DateOpened (Z-A)">Date Opened (Z-A)</option>
<option value="DateClosed (Z-A)">Date Closed (Z-A)</option>
<option value="Technician (Z-A)">Technician (Z-A)</option>
            
            </select>
    </div>

    <br />
<input type="submit" class="btn btn-primary" value="Apply" />
</form>



<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
               Opened Date
            </th>
           <th>
                Closed Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOpened)
                </td>
                @if (item.DateClosed != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                }
                else
                {
                    <td>
                        N/A
                    </td>
                }
                @if (item.Technician != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.FullName)
                    </td>
                }
                else
                {
                    <td>
                        Unassigned 
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IncidentId">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IncidentId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IncidentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
